@page
@model IndexModel
@{
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Sinhala English Dictionary</h1>
        <p>Wanna find english words fr a sinhala or vice versa :)</p>
    </div>
    <div>
        <form method="get">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input name="q" type="text" class="form-control" id="translate_input" aria-describedby="translate_input_help" placeholder="Enter the word">
                    </div>
                </div>
                <div class="col col-sm-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <br/>
    @if (!string.IsNullOrWhiteSpace(Model.word))
    {
        <div>
            <h1 class="display-5">@Model.word</h1>
            @if (!string.IsNullOrWhiteSpace(Model.word) && Model.words != null)
            {
            
                <p>
                    @foreach (var resultWord in Model.words)
                    {
                        <span> @resultWord </span> <span> | </span>
                    }
                </p>
            
            }
            else
            {
                <div style="text-align : center" class="display-5"> We didn't found any records that match <b>"@Model.word"</b> :(</div>
            }
        </div>
        <div>
            <h1 class="display-5">Lemma - @Model.lemma</h1>
            @if (!string.IsNullOrWhiteSpace(Model.lemma) && Model.lemmaWords != null && !Model.lemma.Equals(Model.word))
            {
            
                <p>
                    @foreach (var resultWord in Model.lemmaWords)
                    {
                        <span> @resultWord </span> <span> | </span>
                    }
                </p>
            
            }
            else if (!Model.lemma.Equals(Model.word))
            {
                <div style="text-align : center" class="display-5"> We didn't found any records that match <b>"@Model.lemma"</b> :(</div>
            }
        </div>
        <div>
            <h1 class="display-5">Stem - @Model.stem</h1>
            @if (!string.IsNullOrWhiteSpace(Model.stem) && Model.stemWords != null && !Model.stem.Equals(Model.word) && !Model.stem.Equals(Model.lemma))
            {
            
                <p>
                    @foreach (var resultWord in Model.stemWords)
                    {
                        <span> @resultWord </span> <span> | </span>
                    }
                </p>
            
            }
            else if (!Model.stem.Equals(Model.word) && !Model.stem.Equals(Model.lemma))
            {
                <div style="text-align : center" class="display-5"> We didn't found any records that match <b>"@Model.stem"</b> :(</div>
            }
        </div>
    }
</div>