@page
@model IndexModel
@{
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Sinhala Word Sense Disambiguation</h1>
        <p>Disambiguate polysemous sinhala nouns given the context</p>
        <p style="color:darkblue; font-size:0.8rem">Sample sentences "මුව රංචුව කැලයට වැදුනි.", "ඇය තම මුව අත්ලෙන් වසා ගත්තාය.", "එවැනි රක්ෂණ පවත්වාගෙන යාම වැළැක්වීමට නීති ඇති අතර එය සාමාන්‍යයෙන් නීති විරෝධී ක්‍රියාවකි", "න්‍යායානුකූලව ටික දෙනෙකුගේ ඉල්ලීම් සහ ව්‍යාපාරික වියදම් පිරිමැහෙන්නේ බොහෝ දෙනෙක් රක්ෂණ වාරික පසුව ලබාගන්නා තෙක් ගෙවනු ලබන නිසාය." </p>
        <p style="color:gray; font-size:0.8rem">DISCLAIMER : This service is a work in progress 100% accuracy is not guaranteed</p>
        
    </div>
    <div>
        <form method="get">
            <div class="row justify-content-md-center">
                <div class="col-md">
                    <div class="form-group">
                        <input name="q" type="text" class="form-control" id="translate_input" aria-describedby="translate_input_help" placeholder="Enter the Sentence">
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Disambiguate</button>
                </div>
            </div>
        </form>
    </div>
    @if(Model.sentence != null && Model.res != null)
    {
        <h5>
            @foreach(var strToken in Model.res.Tokens)
            {
                @if(strToken.IsWord)
                {
                    <a href="/Dictionary?q=@strToken.Content">@strToken.Content</a>
                }
                else
                {
                    @strToken.Content
                }
            }
        </h5>
        @foreach (var token in Model.res.Tokens)
        {
            @if(token.IsWord && token.Sense != null && token.Sense.EnglishWord != null)
            {
                <h4>@token.Content - @token.Sense.EnglishWord</h4>
                <p>@token.Sense.Gloss</p>
                <p>
                    @foreach(var entry in token.Sense.DictionaryEntries)
                    {
                        <a href="/Dictionary?q=@entry"> @entry </a> <span> | </span>
                    }
                </p>
            }
        }
        
    }
</div>